* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.task{  
  margin:15px 15px 15px 15px;  
  padding: 40px;
  background-color:#ffffff;
  border-radius: 10px; 
  display: flex; 
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}
.task_title{
  font-family: 'Joan', serif;
  font-size: 40px;
  color: #1976d2;
  font-weight: bold;
  
}

.task_txt{
  display:flex;
  justify-content: left;
  font-family: 'Joan', serif;
  font-size: 30px;
  color: #1976d2;
  align-items: left;
}

.AddTaskForm{
  margin: 15px 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
body{
  background-color: rgba(134, 184, 241, 0.705);
}

 .textfield{
   background-color: white;
 }